$theme-colors: (
  "CustomBlue": #130f40
);
$font-family-base: "Lato", "Times New Roman", "Bookman";

$btn-font-family: "Verdana";

$headings-font-family: "Arial Black", "Impact";
@import "bootstrap";