{% extends 'base.html' %}

{% block title %}
Listing Quests
{% endblock %}

{% block content %}
<h1>Quests</h1>
{% if quests %}
{% for quest in quests %}
<div class="jumbotron">
  <h1 class="display-4">{{ quest.title }}</h1>
  <p class="lead">{{ quest.body }} </p>
  <hr class="my-4">
  <br>
  <p><b>By {{ quest.author }}</b></p>
  <br>
  <a class="btn btn-primary btn-lg" href="{% url 'quests_manager:detail' quest.id %}" role="button">Learn more</a>
</div>
{% endfor %}
{% else %}
No quests to display.
<br>
Let's create one.
<br>
<a class="btn btn-success" href="{% url 'quests_manager:add' %}">Create</a>
{% endif %}
<br>
<br>
  {% if messages %}
    <div class="alert alert-danger">
        {% for message in messages %}

            {{ message }}
        {% endfor %}
    </div>
  {% endif %}
{% endblock %}
