{% extends 'base.html' %}

{% block title %}
Listing Quests
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1>Add new quest</h1>
  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Update" class="btn btn-info">
      <a class="btn btn-secondary text-right" href="{% url 'quests_manager:detail' object.pk %}">Go back</a>
  </form>
  </div>
<div class="col-md-4"></div>
</div>
{% endblock %}
